$blue: rgb(52,152,219);
$blueDark: rgb(41,128,185);
$blueDarker: rgb(53,73,94);
$blueDarkerer: rgb(44,62,80);

$asphalt: #252525;
$grayLighterer: lighten(#eee, 4%);
$grayLighter: #cacaca;
$grayLightish: darken(#eee, 7%);
$grayLight: #a7a7a7;
$grayMed: #bebebe;



$textColor: #4d4d4d;
$linkColor: $blue;



$skyHeight: 80%;
$groundHeight: 100% - $skyHeight;
$cloudOffset: 10%;