@import "_bootstrap_mixins.scss";
@import "_vars.scss";

@import "thermometer.scss";
@import "trafficlight.scss";
@import "weather.scss";
@import "rider.scss";



* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

.hide { display: none; }

body {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  margin: 0; padding: 0;
  color: $textColor;
  background: #000;
  a { text-decoration: none; }
}

html {
  padding: 0; margin: 0;
  height: 100%; width: 100%;
}

.content {
  @include clearfix;
  // margin: 40px auto 0;
  // border-radius: 2px;
  // box-shadow: 1px 1px 2px rgba(black,.2);
  // height: 300px;
  // max-width: 1200px;
  // background: #fff;
  // position: relative;
}




// 
// 
// Background!
// 
// 
// 

.background {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  overflow: hidden;
  z-index: 0;
  background: lighten($blueDark,10%);;
}

.sky, .ground {
  display: block;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: $skyHeight;
  z-index: -1;
}

.sky {
  background: rgb(30,87,153);
  background: -moz-linear-gradient(top,  rgba(30,87,153,1) 54%, rgba(64,154,213,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(54%,rgba(30,87,153,1)), color-stop(100%,rgba(64,154,213,1)));
  background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 54%,rgba(64,154,213,1) 100%);
  background: -o-linear-gradient(top,  rgba(30,87,153,1) 54%,rgba(64,154,213,1) 100%);
  background: -ms-linear-gradient(top,  rgba(30,87,153,1) 54%,rgba(64,154,213,1) 100%);
  background: linear-gradient(to bottom,  rgba(30,87,153,1) 54%,rgba(64,154,213,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#409ad5',GradientType=0 );
}

.ground {
  height: 100% - $skyHeight;
  top: $skyHeight;
  box-shadow: 0 -1px 4px rgba($asphalt,.4);
  background: -moz-linear-gradient(top,  rgba(37,37,37,0.8) 0%, rgba(37,37,37,0.8) 1%, rgba(34,34,34,1) 10%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(37,37,37,0.8)), color-stop(1%,rgba(37,37,37,0.8)), color-stop(10%,rgba(34,34,34,1)), color-stop(100%,rgba(0,0,0,1)));
  background: -webkit-linear-gradient(top,  rgba(37,37,37,0.8) 0%,rgba(37,37,37,0.8) 1%,rgba(34,34,34,1) 10%,rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(top,  rgba(37,37,37,0.8) 0%,rgba(37,37,37,0.8) 1%,rgba(34,34,34,1) 10%,rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(top,  rgba(37,37,37,0.8) 0%,rgba(37,37,37,0.8) 1%,rgba(34,34,34,1) 10%,rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom,  rgba(37,37,37,0.8) 0%,rgba(37,37,37,0.8) 1%,rgba(34,34,34,1) 10%,rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc252525', endColorstr='#000000',GradientType=0 );
}


section {
  display: block;
  margin: 0; padding: 0;
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
  z-index: 25;
  // border: 1px solid purple;
}


// 
// 
// Data display
// 
// 
// 

.data-display {
  height: $skyHeight;
  width: 100%;
  position: absolute;
  top: 0; left: 0;
}

.displayer {
  @include clearfix;
  border-radius: 8px;
  box-shadow: 1px 1px 3px rgba(black,.5);
  background: rgba($blueDarker,.82);
  border: 2px solid rgba(lighten($blueDarker,20%),.1);
  display: block;
  position: relative;
  padding: 8px 16px;
  margin: 5% 2% 0 0;
  width: 33%;
  margin-left: auto;
  text-align: center;
  color: $grayLighter;
  strong {
    color: $grayLighterer;
    font-weight: normal;
  }
  &:last-of-type {
    font-size: 1.3em;
  }
}